.main-container {
  background-color: #eeeeee;
  display: flex;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
  padding: 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  .sidebar {
    @media screen and (max-width: 1023px) {
      order: 2;
    } 
  }

  .hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tools {
      display: flex;

      .form-control {
        width: 100px;
        margin: 0 3px 10px;
        }
      }
    }
  }