// variables
$font-size: 15px;

.top-bar-navi {
    margin: 0 0 10px;
    // padding: 30px;
    // width: 80%;
    // margin: 50px auto;
    // position: fixed;
    .logo {
        display: block;
        @media screen and (max-width: 1023px) {
            margin: 0 auto;
          }
    }
    ul {
        display: block;
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0 5px;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
          }
        li {
            display: inline-block;
            line-height: 40px;
            @media screen and (max-width: 1023px) {
                text-align: center;
              }
            &:after {
                content: '';
                display: block;
                margin: auto;
                height: 3px;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
              }
            &:hover:after {
                width: 80%;
                background: #007bff;
                @media screen and (max-width: 1023px) {
                    width: 100px;
                  }
              }
        }
        a {
            text-decoration: none;
            font-size: $font-size;
        }
        .btn {
            @media screen and (max-width: 1023px) {
                width: 100px;
                margin: 0 auto;
              }
        }
    }
    .user-profile {
        line-height: 40px;
        font-size: $font-size;
        color: #007bff;
        @media screen and (max-width: 1023px) {
            margin: 0 auto;
          }
    }
}