@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.App {
  background-color: #dedede;
  font-family: 'Arimo', sans-serif;
  padding: 30px;
  width: 80%;
  border-radius: 30px;
  margin: 50px auto;

  .App__mainElement {
    display: flex;
  }
}