@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.App {
  background-color: #dedede;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  width: 80%;
  border-radius: 30px;
  margin: 100px auto;

  .App__mainElement {
    display: flex;
  }
}